<template>
  <div class="sectionYT">
    <iframe class="yt-full-video" src="https://www.youtube.com/embed/ArKmRz-G_5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>
</template>
<style lang="scss">
@import "@/assets/style/function.scss";
/* 螢幕尺寸標準 */
.sectionYT {
  // background-color: #ededee;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  position: relative;
  .yt-full-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
  }
  
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .sectionYT {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    position: relative;
    .yt-full-video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
</style>

<script>
// @ is an alias to /src
import { isMobile } from "@/utils";


export default {
  name: "sectioYT",

  components: {
    
  },
  
  data() {
    return {
      isMobile,
      
    };
  },

  methods: {

  },

  mounted() {
  },

  created() { },
};
</script>
