@import './variableColor.scss';

.el-dialog{
   // height:calc(100% - 123px) !important;
   margin-top: 60px !important;
}
.el-dialog__title {
  font-size: 32px !important;
  line-height:2 !important;
}
.policy-dialog-content {
  width: 980px;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  //overflow-y: scroll;
  .title {
    font-size: 24px;
    font-family: 'Noto Sans TC', serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    font-family: 'Noto Sans TC', serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    text-align: left;
  }

  h3 {
    color: rgb(47, 171, 209);
    font-size: 24px;
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  li {
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: left;
  }
}

.el-dialog__headerbtn .el-dialog__close {
  font-size: 40px;
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .policy-dialog-content {
    width: 100% !important;
    height: 80% !important;
    padding: 20px !important;
  }
}


.dialog-content {
  width: auto;
  height: 295px;
  //border-radius: 5px;
  //margin: -30px 0;
  background-color: $mobile_dialog_bg;

  svg {
    width: 80px !important;
    color: $mobile_dialog_icon !important;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    height: 105px;
  }

  .callIcon {
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
  }

  .messageIcon {
    width: 80px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 45px;
    display: block;
  }

  .mapIcon {
    width: 80px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block;
  }

  .dialog-desc {
    font-size: 16px;
    text-align: center;
    color: $mobile_dialog_desc;
    margin-bottom: 15px;
  }

  .info {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .cta {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: $mobile_dialog_submit_bg;
    color: $mobile_dialog_submit_color;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
  }
}