/* navigation */
$nav_pc_height: 80px;
$nav_tablet_height: 80px;
$nav_phone_height: 60px;
$logo_pc_width: calc(100vw * 140 / 1920);
$logo_tablet_width: calc(100vw * 110 / 1920);
$logo_phone_width: 90px;

/* contactInfo */
$contact_logo_pc_width:700px;
$contact_logo_tablet_width: 280px;
$contact_logo_mobile_width: 280px;

// for calculate
$nav_pc_height_number: 60;
$nav_tablet_height_number: 60;
$nav_phone_height_number: 120;
