.syntaxhighlighter{background-color:#0f192a !important;}
.syntaxhighlighter .line.alt1{background-color:#0f192a !important;}
.syntaxhighlighter .line.alt2{background-color:#0f192a !important;}
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{background-color:#253e5a !important;}
.syntaxhighlighter .line.highlighted.number{color:#38566f !important;}
.syntaxhighlighter table caption{color:#d1edff !important;}
.syntaxhighlighter .gutter{color:#afafaf !important;}
.syntaxhighlighter .gutter .line{border-right:3px solid #435a5f !important;}
.syntaxhighlighter .gutter .line.highlighted{background-color:#435a5f !important;color:#0f192a !important;}
.syntaxhighlighter.printing .line .content{border:none !important;}
.syntaxhighlighter.collapsed{overflow:visible !important;}
.syntaxhighlighter.collapsed .toolbar{color:#428bdd !important;background:black !important;border:1px solid #435a5f !important;}
.syntaxhighlighter.collapsed .toolbar a{color:#428bdd !important;}
.syntaxhighlighter.collapsed .toolbar a:hover{color:#1dc116 !important;}
.syntaxhighlighter .toolbar{color:#d1edff !important;background:#435a5f !important;border:none !important;}
.syntaxhighlighter .toolbar a{color:#d1edff !important;}
.syntaxhighlighter .toolbar a:hover{color:#8aa6c1 !important;}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#d1edff !important;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#428bdd !important;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:#1dc116 !important;}
.syntaxhighlighter .keyword{color:#b43d3d !important;}
.syntaxhighlighter .preprocessor{color:#8aa6c1 !important;}
.syntaxhighlighter .variable{color:#ffaa3e !important;}
.syntaxhighlighter .value{color:#f7e741 !important;}
.syntaxhighlighter .functions{color:#ffaa3e !important;}
.syntaxhighlighter .constants{color:#e0e8ff !important;}
.syntaxhighlighter .script{font-weight:600 !important;color:#b43d3d !important;background-color:none !important;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:#f8bb00 !important;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:white !important;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:#ffaa3e !important;}
