.syntaxhighlighter{background-color:black !important;}
.syntaxhighlighter .line.alt1{background-color:black !important;}
.syntaxhighlighter .line.alt2{background-color:black !important;}
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{background-color:#2a3133 !important;}
.syntaxhighlighter .line.highlighted.number{color:white !important;}
.syntaxhighlighter table caption{color:#d3d3d3 !important;}
.syntaxhighlighter .gutter{color:#d3d3d3 !important;}
.syntaxhighlighter .gutter .line{border-right:3px solid #990000 !important;}
.syntaxhighlighter .gutter .line.highlighted{background-color:#990000 !important;color:black !important;}
.syntaxhighlighter.printing .line .content{border:none !important;}
.syntaxhighlighter.collapsed{overflow:visible !important;}
.syntaxhighlighter.collapsed .toolbar{color:#ebdb8d !important;background:black !important;border:1px solid #990000 !important;}
.syntaxhighlighter.collapsed .toolbar a{color:#ebdb8d !important;}
.syntaxhighlighter.collapsed .toolbar a:hover{color:#ff7d27 !important;}
.syntaxhighlighter .toolbar{color:white !important;background:#990000 !important;border:none !important;}
.syntaxhighlighter .toolbar a{color:white !important;}
.syntaxhighlighter .toolbar a:hover{color:#9ccff4 !important;}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#d3d3d3 !important;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#ff7d27 !important;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:#ff9e7b !important;}
.syntaxhighlighter .keyword{color:aqua !important;}
.syntaxhighlighter .preprocessor{color:#aec4de !important;}
.syntaxhighlighter .variable{color:#ffaa3e !important;}
.syntaxhighlighter .value{color:#009900 !important;}
.syntaxhighlighter .functions{color:#81cef9 !important;}
.syntaxhighlighter .constants{color:#ff9e7b !important;}
.syntaxhighlighter .script{font-weight:600 !important;color:aqua !important;background-color:none !important;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:#ebdb8d !important;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#ff7d27 !important;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:#aec4de !important;}
