<!DOCTYPE html>
<html lang="zh_TW">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>璞真之道</title>

  <meta name="description" content="中山北路最高仰望，61-89坪樹海名宅。星級飯店為鄰，藝術精品相伴，國門特區前瞻國際。在百年林蔭之上，寫下層峰的未來視野">
  <meta property="og:title" content="璞真之道｜中山北路第一排，23層景觀地標" />
  <meta property="og:description" content="中山北路最高仰望，61-89坪樹海名宅。星級飯店為鄰，藝術精品相伴，國門特區前瞻國際。在百年林蔭之上，寫下層峰的未來視野" />
  <meta property="og:url" content="https://case.hiyes.tw/pjavenue/" />
  <meta property="og:image" content="https://case.hiyes.tw/pjavenue/img/og.jpg" />

  <link rel="icon" href="<%= BASE_URL %>favicon.png" />
  <?php include('head.php'); ?>



  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-17198937-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5SGDFVQ');
  </script>


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173897133-50"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-173897133-50');
  </script>
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T6F7BQ9');</script>

</head>

<body>
  <noscript>
    <strong>We're sorry but vue-house doesn't work properly without JavaScript
      enabled. Please enable it to continue.</strong>
  </noscript>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SGDFVQ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6F7BQ9" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <div id="app"></div>


  <!-- built files will be auto injected -->
</body>

</html>